@import "reset.css";

html {
    --background-color: rgba(205,175,205, 0.9);
    --highlight-color: rgba(0,0,0,0.25);
    --text-color: rgb(35, 0, 35);
    --title-color: rgb(255, 245, 255);
    --primary-color: rgb(135, 0, 135);
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(../Images/IMG_0791.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    color: var(--text-color);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

a {
    outline: none;
}

a:active {
    outline: none;
    animation: icon-hover forwards ease 600ms;
}

a:focus {
    outline: none;
    animation: icon-hover forwards ease 600ms;
}

#arrow:active {
    outline: none;
    animation: icon-hover forwards ease 600ms;
}

#arrow:focus {
    outline: none;
    animation: icon-hover forwards ease 600ms;
}

#toparrow:active {
    outline: none;
    animation: icon-hover forwards ease 600ms;
}

#toparrow:focus {
    outline: none;
    animation: icon-hover forwards ease 600ms;
}

h1 {
    font-size: 1.5rem;
}

body::-webkit-scrollbar {
    width: 0;
}

.textzone {
    margin: 5rem 0 5rem 0;
    padding: 4rem 20vw;
    background: var(--background-color);
}

.page-title {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 80vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--title-color);
    background-color: var(--highlight-color);
}

.title {
    font-size: 1.7rem;
    text-align: center;
    padding-bottom: 5rem;
}

.about-grid {
    display: grid;
    grid-template-columns: calc(100%/4) 1fr;
    align-items: center;
}

.contact-grid {
    display: grid;
    grid-template-columns: calc(100%/4) calc(100%/4) calc(100%/4) 1fr;
    align-items: center;
    text-align: center;
}

#img-me {
    width: 15rem;
    border-radius: 100%;
}

.subtitle {
    font-size: 1.2rem;
    text-align: center;
    color: var(--title-color);
    background-color: var(--highlight-color);
    padding-bottom: 1rem;
}

.maintext {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6;
}

#hidenavzone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 600ms;
}

.hidenavzone-active {
    background-color: rgba(0,0,0,0.25);
}

.hidenavzone-inactive {
    background-color: rgba(0,0,0,0);
}

#hidenavzonehider {
    position: fixed;
    overflow: hidden;
}

.hidenavzone-shown {
    transition-delay: 0ms;
    z-index: 2;
}

.hidenavzone-hidden {
    transition-delay: 600ms;
    z-index: -1;
}

.scroll-enable {
    overflow: auto;
}

.scroll-disable {
    overflow: hidden;
}

#backbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.25rem;
    background: white;
    z-index: 4;
}

#progressbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 0.25rem;
    background: var(--primary-color);
    z-index: 5;
}

#arrow {
    top: 0;
    position: fixed;
    z-index: 3;
    padding: 2rem;
    filter: brightness(10%);
    transition: 600ms;
    color: var(--primary-color);
    text-decoration: none;
    background-color: var(--highlight-color);
}

#arrow img {
    width: 1.25rem;
}

#arrow:hover {
    filter: brightness(100%);
    cursor: pointer;
}

.arrow-inactive {
    left: 0;
}

.arrow-active {
    left: 10rem;
}

#home-icon {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 3;
    padding: 2rem;
    filter: brightness(10%);
    transition: 600ms;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--highlight-color);
}

#home-icon img {
    width: 1.25rem;
}

#home-icon:hover {
    filter: brightness(100%);
    cursor: pointer;
}

#toparrow {
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 3;
    padding: 2rem;
    filter: brightness(10%);
    animation: icon-unhover forwards ease 600ms;
    display: none;
    color: var(--primary-color);
    text-decoration: none;
    background-color: var(--highlight-color);
}

#toparrow img {
    width: 1.25rem;
}

#toparrow:hover {
    animation: icon-hover forwards ease 600ms;
}

@keyframes icon-unhover {
    0% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(50%);
    }
}

@keyframes icon-hover {
    0% {
        filter: brightness(50%);
    }
    100% {
        filter: brightness(100%);
    }
}

#navbar {
    height: 100vh;
    width: 10rem;
    position: fixed;
    background-color:  black;
    z-index: 3;
    transition: 600ms;
    top: 0;
}

.navbar-inactive {
    left: -10rem;
}

.navbar-active {
    left: 0;
}

#navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    margin: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    filter: brightness(50%);
    transition: 600ms;
    padding: 2rem;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    filter: brightness(100%);
    background: var(--text-color);
    cursor: pointer;    
}

.nav-link:active {
    background: var(--text-color);
}

.nav-link:focus {
    background: var(--text-color);
}

.nav-link img {
    width: 1.25rem;
}

.nav-item {
    margin: auto;
}

#tile-ul {
    display: grid;
    grid-template-columns: calc(100% / 2) 1fr;
    justify-content: center;
}

.tile-link {
    display: inline;
    align-items: center;
    height: 5rem;
    transition: 600ms;
    padding: 7rem 5rem;
    border-style: solid;
    border-width: 5px;
    border-color:  var(--text-color);
    margin: 0 3rem;
    filter: brightness(50%);
}

.tile-link:hover {
    filter: brightness(100%);
    cursor: pointer;
}

.tile-link img {
    width: 1.25rem;
    padding: 7rem;
    transition: 600ms;
}

.nav-tile {
    display: block;
}

#art-tile {
    background: url(../Images/art_img.jpg!d);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#art-tile:hover {
    background-size: 120%;
}

#games-tile {
    background: url(../Images/possessor_screenshot.png);
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}

#games-tile:hover {
    background-size: 160%;
}

#media-tile {
    background: url(../Images/hymnprismlivedemo_screenshot.png);
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}

#media-tile:hover {
    background-size: 160%;
}

#tools-tile {
    background: url(../Images/hymnprism_screenshot.png);
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}

#tools-tile:hover {
    background-size: 160%;
}

#sites-tile {
    background: url(../Images/sites_img.jpg!d);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#sites-tile:hover {
    background-size: 120%;
}

#tile-nav {
    padding-bottom: 6rem;
}

@media screen and (max-width: 1800px) {
    #tile-ul {
        grid-template-columns: calc(100% / 2) 1fr;
    }
    .about-grid {
        display: block;
        text-align: center;
    }
    .about-grid img {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 1400px) {
    #tile-ul {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 1100px) {
    #art-tile {
        background-size: cover;
    }

    #art-tile:hover {
        background-size: cover;
    }
    
    #games-tile {
        background-size: cover;
    }

    #games-tile:hover {
        background-size: cover;
    }

    #media-tile {
        background-size: cover;
    }

    #media-tile:hover {
        background-size: cover;
    }

    #tools-tile {
        background-size: cover;
    }

    #tools-tile:hover {
        background-size: cover;
    }

    #sites-tile {
        background-size: cover;
    }

    #sites-tile:hover {
        background-size: cover;
    }

    .nav-tile img {
        padding: 10rem 3.5rem;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 900px) {
    .nav-tile img {
        padding: 10rem 0;
    }

    #mainpage {
        padding: 0;
    }

    .contact-grid {
        display: block;
    }

    .contact-grid p {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 625px) {
    .nav-tile img {
        padding: 5rem 0;
    }

    .tile-link {
        padding: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .nav-tile img {
        padding: 6rem 5rem;
    }

    .tile-link {
        padding: 4rem 1rem;
    }

    html {
        font-size: 8px;
    }
}