@import "reset.css";

html {
    --background-color: rgba(205,175,205, 0.9);
    --highlight-color: rgba(0,0,0,0.25);
    --text-color: rgb(35, 0, 35);
    --primary-color: rgb(135, 0, 135);
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url(../Images/IMG_0791.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    color: var(--text-color);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    outline: none;
}

a:active {
    outline: none;
    animation: btn-hover forwards ease 600ms;
}

a:focus {
    outline: none;
    animation: btn-hover forwards ease 600ms;
}

#menu-btn:active {
    outline: none;
    animation: btn-hover forwards ease 600ms;
}

#menu-btn:focus {
    outline: none;
    animation: btn-hover forwards ease 600ms;
}

#top-btn:active {
    outline: none;
    animation: btn-hover forwards ease 600ms;
}

#top-btn:focus {
    outline: none;
    animation: btn-hover forwards ease 600ms;
}

h1 {
    font-size: 1.5rem;
}

body::-webkit-scrollbar {
    width: 0;
}

.textzone {
    margin: 5rem 0 5rem 0;
    padding: 4rem 20vw;
    background: var(--background-color);
}

.page-title {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 80vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    background-color: var(--highlight-color);
}

.title {
    font-size: 1.7rem;
    text-align: center;
    padding-bottom: 5rem;
}

.about-grid {
    display: grid;
    grid-template-columns: calc(100%/4) 1fr;
    align-items: center;
}

.contact-grid {
    display: grid;
    grid-template-columns: calc(100%/4) calc(100%/4) calc(100%/4) 1fr;
    align-items: center;
    text-align: center;
}

.exp-grid {
    display: grid;
    grid-template-columns: calc(calc(100%/2) - 2rem) 1fr;
    grid-column-gap: 4rem;
}

#img-me {
    width: 15rem;
    border-radius: 100%;
}

.subtitle {
    font-size: 1.2rem;
    text-align: center;
    color: white;
    background-color: var(--highlight-color);
    padding-bottom: 1rem;
}

.maintext {
    font-size: 1.2rem;
    line-height: 1.6;
}

#hidenavzone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 600ms;
}

.hidenavzone-active {
    background-color: rgba(0,0,0,0.25);
}

.hidenavzone-inactive {
    background-color: rgba(0,0,0,0);
}

#hidenavzonehider {
    position: fixed;
    overflow: hidden;
}

.hidenavzone-shown {
    transition-delay: 0ms;
    z-index: 3;
}

.hidenavzone-hidden {
    transition-delay: 600ms;
    z-index: -1;
}

.scroll-enable {
    overflow: auto;
}

.scroll-disable {
    overflow: hidden;
}

#backbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.25rem;
    background: white;
    z-index: 6;
}

#progressbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 0.25rem;
    background: var(--primary-color);
    z-index: 7;
}

#menu-btn {
    top: 0;
    position: fixed;
    z-index: 4;
    padding: 2rem;
    filter: brightness(10%);
    transition: 600ms;
    color: white;
    text-decoration: none;
    background-color: var(--highlight-color);
    border-bottom-right-radius: 2rem;

}

#menu-btn:hover {
    filter: brightness(100%);
    cursor: pointer;
    padding: 3rem;
}

.menu-btn-inactive {
    left: 0;
}

.menu-btn-active {
    left: 10rem;
}

#home-btn {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 4;
    padding: 2rem;
    filter: brightness(10%);
    transition: 600ms;
    text-decoration: none;
    color: white;
    background-color: var(--highlight-color);
    border-bottom-left-radius: 2rem;
}

#home-btn:hover {
    filter: brightness(100%);
    cursor: pointer;
    padding: 3rem;
}

#top-btn {
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 4;
    padding: 2rem;
    filter: brightness(10%);
    animation: icon-unhover forwards ease 600ms;
    display: none;
    color: white;
    text-decoration: none;
    background-color: var(--highlight-color);
    border-top-left-radius: 2rem;
    transition: 600ms;
}

#top-btn:hover {
    animation: btn-hover forwards ease 600ms;
    padding: 3rem;
}

@keyframes icon-unhover {
    0% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(10%);
    }
}

@keyframes btn-hover {
    0% {
        filter: brightness(10%);
    }
    100% {
        filter: brightness(100%);
    }
}

#navbar {
    height: 100vh;
    width: 10rem;
    position: fixed;
    background-color:  black;
    z-index: 4;
    transition: 600ms;
    top: 0;
}

.navbar-inactive {
    left: -10rem;
}

.navbar-active {
    left: 0;
}

#navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    margin: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    filter: brightness(50%);
    transition: 600ms;
    padding: 1rem;
    color: white;
    text-decoration: none;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.nav-link:hover {
    filter: brightness(100%);
    background: var(--text-color);
    cursor: pointer;
    padding: 2rem;
}

.nav-link:active {
    background: var(--text-color);
}

.nav-link:focus {
    background: var(--text-color);
}

.nav-item {
    margin: auto;
}

#work-filter ul {
    display: flex;
    margin-bottom: 2rem;
}

#work-filter ul li {
    background: white;
    color: var(--text-color);
    z-index: 2;
    white-space: nowrap;
    transition: 600ms;
}

#work-filter ul li p {
    padding: 1rem;
    transition: 600ms;
}

#work-filter ul li.filter-inactive:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

#work-filter ul li.filter-active p {
    background: var(--text-color);
    color: white;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#first-filter {
    border-top-left-radius: 2rem;
}

#last-filter {
    border-bottom-right-radius: 2rem;
}

.filter-btn img {
    width: 0.5rem;
}

.filtered-items {
    display: flex;
    flex-wrap: wrap;
}

.filtered-items .item-tile {
    position: relative;
    width: 20rem;
    height: 20rem;
    background: var(--primary-color);
    margin: 1rem;
    transition: 600ms;
}

.tile-left-link {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.tile-right-link {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.filtered-items .item-tile img {
    width: 0.5rem;
    padding: 1rem;
    background: var(--text-color);
    border-bottom-right-radius: 1rem;
}

.tile-title {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 1rem;
}

.tile-description {
    padding: 2rem;
    color: white;
    filter: opacity(0);
    transition: 600ms;
    background: rgba(0,0,0,0.75);
    overflow-y: scroll;
    height: 6rem;
}

.tile-description::-webkit-scrollbar {
    width: 0.25rem;
}

.tile-description::-webkit-scrollbar-track {
    background: white;
}

.tile-description::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

.filtered-items .item-tile:hover > .tile-description {
    filter: opacity(1);
}

.filtered-items .item-tile:active > .tile-description {
    filter: opacity(1);
}

#possessor-tile {
    background: url(../Images/possessor_screenshot.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 600ms;
    min-height: 100%;
}

#hymnprism-tile {
    background: url(../Images/hymnprism_screenshot.png);
    background-size:    cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 600ms;
    min-height: 100%;
}

.btn-link {
    font-size: 1rem;
    padding: 1rem;
    background: white;
    text-decoration: none;
    color: var(--text-color);
    transition: 600ms;
    font-weight: bolder;
    white-space: nowrap;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.btn-link:hover {
    background: var(--text-color);
    color: white;
    padding: 1.5rem;
}

#email-btn:hover {
    cursor: pointer;
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
}

.form-hide {
    opacity: 0;
    pointer-events: none;
}

.form-show {
    opacity: 1;
    pointer-events: all;
}

#contact-form {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.75);
    box-sizing: border-box;
    flex-direction: column;
    z-index: 5;
    transition: 600ms;
}

#cf-container {
    width: 90%;
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem;
    background: var(--background-color);
    border-radius: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.form-group {
    width: 100%;
    max-height: 80vh;
}

.form-group label {
    font-size: 1.2rem;
    clear: both;
    display: block;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--text-color);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 600ms;
}

.form-group textarea {
    max-height: 30vh;
    height: 10vh;
    resize: vertical;
    transition: 0ms;
}

input:focus, textarea:focus {
    border-color: var(--primary-color);
}

.form-group textarea::-webkit-scrollbar {
    width: 0.25rem;
}

.form-group textarea::-webkit-scrollbar-track {
    background: var(--background-color);
}

.form-group textarea::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

#email-send-btn {
    margin-top: 1rem;
    border: none;
}

#status {
    width: 90%;
    max-width: 30rem;
    text-align: center;
    padding: 1rem 2rem;
    margin: 0 auto;
    border-radius: 2rem;
    filter: opacity(0.75);
}

#status.success {
    background: greenyellow;
    color: var(--text-color);
    animation: status 4s ease forwards;
}

#status.error {
    background: orangered;
    color: white;
}

#form-close-btn {
    transition: 200ms;
    opacity: 1;
    float: right;
    padding: 0.5rem;
}

#form-close-btn:hover {
    opacity: 0.5;
}

@keyframes status {
    0% {
        opacity: 0.75;
        pointer-events: all;
    }
    90% {
        opacity: 0.75;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

@media screen and (max-width: 1600px) {
    .about-grid {
        grid-template-columns: calc(100% / 3) 1fr;
    }
}

@media screen and (max-width: 1400px) {
    .about-grid {
        grid-template-columns: calc(100% / 2) 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .exp-grid {
        display: block;
    }

    .about-grid {
        display: block;
        text-align: center;
    }

    .about-grid img {
        margin-bottom: 2rem;
    }

    .tile-left-link, .tile-right-link {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1000px) {
    #mainpage {
        padding: 0;
    }

    .contact-grid {
        grid-template-columns: calc(100% / 2) 1fr;
    }

    .contact-grid p {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 625px) {
    html {
        font-size: 0.8rem;
    }

    #work-filter ul {
        display: block;
        text-align: center;
    }

    #cf-container, #status {
        width: 50%;
    }
}